#Port which will be used by the pod
SERVER_PORT=SERVER_PORT

#FM Server
FMS_CONNECTION_DB=FMS_ENTERPRISE_DB_NAME
FMS_CONNECTION_HOST=FMS_DB_DOMAIN
FMS_CONNECTION_USER=FMS_DB_USER
FMS_CONNECTION_PASS=FMS_DB_PWD

#Redis
#REDIS_HOST=REDIS_HOST_DOMAIN
#REDIS_PASSWORD=REDIS_PWD
#REDIS_PORT=REDIS_PORT

#Redis localhost
#REDIS_HOST=host.docker.internal
#REDIS_PASSWORD=REDIS_PWD
#REDIS_PORT=REDIS_PORT
#ENABLE_REDIS_CACHE_LOGGER=true

#Redis for messaging
#REDIS_HOST_MESSAGING=REDIS_HOST
#REDIS_PASSWORD_MESSAGING=REDIS_PWD
#REDIS_PORT_MESSAGING=REDIS_PORT
#REDIS_SECRET_MESSAGING=REDIS_SECRET_KEY

#Redis for OAuth
#REDIS_HOST_OAUTH=REDIS_HOST
#REDIS_PASSWORD_OAUTH=REDIS_PWD
#REDIS_PORT_OAUTH=REDIS_PORT
#REDIS_SECRET_OAUTH=REDIS_SECRET_KEY

#Authentication salt
AUTHENTICATION_SECRET=YOUR_AUTH_SECRET_KEY

#VAULT ( Must be 256 bytes (32 characters) )
ENCRYPTION_KEY=YOUR_ENCRYPTION_KEY

#DC Name
NOW_DC=DC_Test

#FM Gateway - XML or DAPI
FM_GATEWAY=DAPI

ISENTERPRISE=true

#Terminate with a return 